* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

nav {
	position: fixed;
	z-index: 2;
	height: 48px;
	background-color: white;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	box-shadow: 0px 0px 4px black;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
nav > header {
	display: block;
	float: left;
	line-height: 48px;
	font-size: 200%;
	display:none;
}
nav > ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 8px;
	display: block;
	line-height: 48px;
}
nav > ul > li {
	display: inline-block;
	padding: 0px 8px;
	color: black;
}
nav > ul > li > a,
nav > ul > li > a:link,
nav > ul > li > a:visited {
	color: black;
}
main {
	position: absolute;
	padding: 8px;
	z-index: 0;
	top: 48px;
	width: 100%;
}
main.no-header {
	top: 0px;
}
footer {
	margin-top: 32px;
	border-top: 1px #ccc solid;
	left: 0px;
	width: 100%;
	padding: 8px;
	color: #333;
}

hr {
	border: none;
	border-bottom: 1px #999 solid;
}

.error {
	color: red;
}

table.scores {
	/*border-collapse: collapse;*/
	border: 1px black solid;
}
table.scores th,
table.scores td {
	background-color: white;
	border: 1px black solid;
	padding: 4px 8px;
	text-align: center;
}
table.scores th {
	padding: 8px;
	position: -webkit-sticky;
	position: sticky;
	top: 48px;
}
table.scores th:first-child,
table.scores td:first-child {
	position: sticky;
	left: 0px;
}
table.scores td.empty {
	background-color: #fcc;
}
table.scores td.zero {
	background-color: #ffc;
}
table.scores td.score {
	background-color: #cfc;
}
table.scores tr:active td,
table.scores tr:hover td {
	background-color: #ccc;
}
table.scores tr:active td.empty,
table.scores tr:hover td.empty {
	background-color: #f99;
}
table.scores tr:active td.zero,
table.scores tr:hover td.zero {
	background-color: #ff9;
}
table.scores tr:active td.score,
table.scores tr:hover td.score {
	background-color: #9f9;
}

table.scores input[type="number"] {
	width: 8em;
}

table.ranking {
	border-collapse: collapse;
}
table.ranking th,
table.ranking td {
	border: 1px black solid;
	padding: 4px 8px;
}
table.ranking tr.first-place {
	background-color: #f99;
}
table.ranking tr.second-place {
	background-color: #ff9;
}
table.ranking tr.third-place {
	background-color: #9f9;
}

form.form label {
	text-align: right;
	padding-right: 8px;
}
form.form button,
form.form input,
form.form select,
form.form textarea {
	min-width: 20em;
	margin-bottom: 4px;
}

form.form button,
form.form input,
form.form select,
form.form textarea {
	margin-bottom: 8px;
	min-height: 32px;
}

@media (max-width: 768px) {
	form.form {
		display: block;
	}
	form.form .form-element {
		display: block;
	}
	form.form .form-subelement {
		display: block;
	}
	form.form label {
		text-align: left;
		font-size: 125%;
	}
	form.form button,
	form.form input,
	form.form select,
	form.form textarea {
		width: 100%;
		padding: 8px;
	}
}
